*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    height: 100vh;
    width: 100%;
}
header {
    display: flex;
    justify-content: end;
}
.right-nav{
    margin: 10px;
    align-items: center;
}
.nav-text{
    list-style-type: none;
}

.nav-text li a{
    font-size: 13px;
    line-height: 24px;
    color: rgb(0, 0, 0, 0.87);
    text-decoration: none;
    margin-right: 15px;
}
.nav-text li a:hover{
    text-decoration: underline;
}

.right-nav, .nav-text, .nav_images{
    display: flex;
}

.nav_images a{
    margin-right: 10px;
    width: 40px;
    height: 40px;
    padding: 4px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(95, 99, 104);
}
.nav_images a:hover{
   border-radius: 50%;
   background-color: rgb(229, 231, 232);
   
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.profile-pic{
    width: 40px;
    height: 40px;
}

.profile-pic img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
main{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* hero */
.hero{
    width: 280px;
}

.hero img{
    width: 100%;
    height: 100%;
}
/* search */
.search-section{
    margin-top: 35px;
    width: 60%;
    background-color: white;
    box-shadow: 0px 1px 6px #6d6d6dff;
    border-radius: 30px;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-section input{
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 65%;
    font-size: 16px;
    padding: 0 10px;
}
.search-section .icon{
    color: #1f1f1f;
}
.search-section .search-icon{
    color: rgb(95, 99, 104)
}
.ai-section{
    font-size: 16px;
    color: #1f1f1f;
    padding: 8px 12px 8px 8px;
    background-color: #f3f5f6;
    border-radius: 25px;
    display: flex;
    align-items: center;
}
.ai-icon{
    font-size: 20px;
    margin-right: 5px;
}

/* button */
.plus-section {
    margin-top: 20px;
    background-color: rgba(216, 216, 217, 0);
    cursor: pointer;
    width: 112px;
    height: 112px;
    border: none;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}

.plus-section:hover {
    background-color: rgb(216, 216, 217, 1);
}
.plus{
    background-color: rgb(225, 227, 225, 1);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plus-text span{
    color: rgb(0, 0, 0, 0.87);
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* customize */
.customize-section{
    align-self: flex-end;
    position: absolute;
    right: 15px;
    bottom: 15px;
}
.customize{
    color: #041e49;
    background-color: #d3e3fd;
    padding: 8px 16px;
    width: 165px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    box-shadow: 0px 2px 4px #6d6d6dff;
    cursor: pointer;
}
.customize:hover{
    background-color: #c1d0e7;
}
.customize-icon{
    font-size: 16px;
}
.customize-text{
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

